<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="DialogLimbajNatural">
		<title>Macroul</title>
		<bg>#022028</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxMINIMIZE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="m_AddEdit" member="yes">
					<bitmap>res\AddEditNLP.bmp</bitmap>
					<size>200,75</size>
					<handler function="Onm_AddEditClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON6" variable="m_RunNLP" member="yes">
					<bitmap>res\CautaNLP.bmp</bitmap>
					<size>200,75</size>
					<handler function="Onm_RunNLPClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON5" variable="m_Exit" member="yes">
					<bitmap>res\5.bmp</bitmap>
					<size>200,75</size>
					<handler function="Onm_ExitClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
