<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="DialogLogin">
		<title>Macroul</title>
		<centered>1</centered>
		<bg>#022028</bg>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxMINIMIZE_BOX</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<handler function="OnKeyUp" entry="EVT_KEY_UP" />
		<handler function="OnChar" entry="EVT_CHAR" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Autentificare sau Inregistrare</label>
					<fg>#FFFFFF</fg>
					<font>
						<size>14</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Trebuchet MS</face>
					</font>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<rows>5</rows>
					<growablecols>0,1</growablecols>
					<growablerows>3</growablerows>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>Email</label>
							<fg>#FFFFFF</fg>
							<font>
								<size>10</size>
								<style>normal</style>
								<weight>normal</weight>
								<underlined>0</underlined>
								<family>swiss</family>
								<face>Trebuchet MS</face>
							</font>
						</object>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_TextEmail" member="yes">
							<size>150,-1</size>
							<style>wxTE_PROCESS_ENTER</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>Parola</label>
							<fg>#FFFFFF</fg>
							<font>
								<size>10</size>
								<style>normal</style>
								<weight>normal</weight>
								<underlined>0</underlined>
								<family>swiss</family>
								<face>Trebuchet MS</face>
							</font>
						</object>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="m_TextPass" member="yes">
							<size>150,-1</size>
							<style>wxTE_PROCESS_ENTER|wxTE_PASSWORD</style>
							<handler function="Onm_TextPassText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>3</cols>
							<object class="spacer">
								<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
								<size>30,50</size>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="m_TextError" member="yes">
							<label>Parola incorecta</label>
							<fg>#FF0000</fg>
							<font>
								<size>10</size>
								<style>normal</style>
								<weight>normal</weight>
								<underlined>0</underlined>
								<family>swiss</family>
								<face>Trebuchet MS</face>
							</font>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL1" variable="HyperlinkCtrl1" member="yes">
							<label>Am uitat parola</label>
							<font>
								<size>10</size>
								<style>normal</style>
								<weight>normal</weight>
								<underlined>0</underlined>
								<family>swiss</family>
								<face>Trebuchet MS</face>
							</font>
							<handler function="OnHyperlinkCtrl1Click" entry="EVT_HYPERLINK" />
						</object>
						<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>7</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="m_ButtonAuth" member="yes">
							<label>Login</label>
							<handler function="Onm_ButtonAuthClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
